<% if (theme.post.cc && is_post()) { %>
<%
let ccLicense = theme.post.cc.toLowerCase();
let ccIcon = fa_inline('creative-commons', {prefix: 'fab'});
let ccText = ccLicense.toUpperCase();
let ccType;
if (ccLicense === 'zero') {
  ccType = 'publicdomain/zero/1.0/';
} else {
  ccType = 'licenses/' + ccLicense + '/4.0/';
}
let ccURL = 'https://creativecommons.org/' + ccType;
let postURL = page.url || page.permalink;
%>

<div>
  <ul class="post-copyright">
    <li class="post-copyright-author">
      <strong><%= __('post.copyright.author') + __('symbol.colon') %> </strong>
      <%= author.name %>
    </li>
    <li class="post-copyright-link">
      <strong><%= __('post.copyright.link') + __('symbol.colon') %></strong>
      <%- next_url(postURL, postURL, {title: page.title}) -%>
    </li>
    <li class="post-copyright-license">
      <strong><%= __('post.copyright.license_title') + __('symbol.colon') %> </strong>
      <%- __('post.copyright.license_content', next_url(ccURL, ccIcon + ccText)) -%>
    </li>
  </ul>
</div>
<% } %>
