<% if (is_post()) { %>
<%
let ccLicense = theme.creative_commons.license.toLowerCase();
let ccLanguage = theme.creative_commons.language;
let ccIcon = '<i class="fab fa-creative-commons"></i>';
let ccText = ccLicense.toUpperCase();
let ccType;
if (ccLicense === 'zero') {
  ccType = 'publicdomain/zero/1.0/' + ccLanguage;
} else {
  ccType = 'licenses/' + ccLicense + '/4.0/' + ccLanguage;
}
let ccURL = 'https://creativecommons.org/' + ccType;
let postURL = page.url || page.permalink;
%>

<div>
  <ul class="post-copyright">
    <li class="post-copyright-author">
      <strong><%= __('post.copyright.author') + __('symbol.colon') %> </strong>
      <%= page.author || author %>
    </li>
    <li class="post-copyright-link">
      <strong><%= __('post.copyright.link') + __('symbol.colon') %></strong>
      <%- next_url(postURL, postURL, {title: page.title}) -%>
    </li>
    <li class="post-copyright-license">
      <strong><%= __('post.copyright.license_title') + __('symbol.colon') %> </strong>
      <%- __('post.copyright.license_content', next_url(ccURL, ccIcon + ccText)) -%>
    </li>
  </ul>
</div>
<% } %>
