<!DOCTYPE html>
<html lang="<%= page.lang || page.language || config.language %>">

<head>
  <%- partial('_partials/head/head.swig', {}, {cache: true}) -%>
  <%- partial('_partials/head/head-unique.swig') -%>
  <%- partial('_partials/head/title.swig') -%>
  <%- next_inject('head') -%>
</head>

<body itemscope itemtype="http://schema.org/WebPage">

  <%- next_inject('header') -%>

  <header class="main-header" itemscope itemtype="http://schema.org/WPHeader">
    <div class="header-inner"><%- partial( '_partials/header/index.ejs', {}, {cache: `cake-header-${page.lang}`}) -%></div>
  </header>

  <div class="flex-container">

    <%- partial('_partials/sidebar.swig') -%>

    <div class="flex-main">

      <main>
        <% if (!is_home()) { %>
        <div class="sub-menu-wrap">
          <%- partial( '_partials/post/post-menu.swig') -%>
        </div>
        <% } %>
        <div id="content" class="content">
          <%- body -%>
        </div>
        <%- partial( '_partials/comments.ejs') -%>
      </main>

      <footer class="footer">
        <div class="footer-inner">
          <%- partial('_partials/footer.ejs', {}, {cache: true}) -%>
        </div>
      </footer>

    </div>

  </div>

  <%- next_js('utils.js', 'next-boot.js') -%>
  <%- next_inject('bodyEnd') -%>

</body>

</html>
