<!DOCTYPE html>
<html lang="<%= page.lang || page.language || config.language %>">

<%- partial('_partials/head/head.jsx') -%>

<body>

  <%- injector('body-begin').text() -%>
  <%- injector('header').text() -%>

  <header class="main-header">
    <div class="header-inner card"><%- partial( '_partials/header/index.ejs', {}, {cache: `cake-header-${page.lang}`}) -%></div>
  </header>

  <div class="flex-container">

    <%- partial('_partials/sidebar.ejs') -%>

    <div class="flex-main">

      <main>
        <%- partial( '_partials/post/post-menu.ejs') -%>
        <div id="content" class="content">
          <%- body -%>
        </div>
        <%- partial( '_partials/comments.ejs') -%>
      </main>

      <footer class="footer">
        <div>
          <%- partial('_partials/footer.ejs', {}, {cache: true}) -%>
        </div>
      </footer>

    </div>

  </div>

  <%- injector('body-end').text() -%>

</body>

</html>
