<div class="copyright">
  <% let current = date(Date.now(), "YYYY") %>
  &copy; <% if (theme.footer.since && theme.footer.since !== current) { %><%= theme.footer.since %> – <% } %>
  <span><%= current %></span>
  <span class="with-love">
    <%- fa_inline(theme.footer.icon.name, theme.footer.icon.options) %>
    <i class="<%= theme.footer.icon %>"></i>
  </span>
  <span class="author"><%= author.name %></span>
</div>

<div class="powered-by">
  <%- __('footer.powered', '<a href="https://hexo.io" class="theme-link">Hexo</a>') -%> v<%= hexo_pkg.hexo.version %>
</div>

<span class="post-meta-divider">|</span>

<div class="theme-info">
  <%= __('footer.theme') %> – <a href="https://github.com/JiangTJ/hexo-theme-cake" class="theme-link">Cake</a> v<%= theme_pkg.version %>
</div>

<%- injector('footer').text() -%>
