<%
let post_class = 'post post-type-' + (post.type || 'normal');
%>

<article class="<%= post_class %>">
  <div class="card post-block">

    <%- partial( '_partials/post/banner.ejs') -%>

    <header class="post-header">

      <% if (post.title) { %>
      <h1 class="post-title">
        <% if (is_index) { %>
        <a href="<%= url_for(post.path) %>"><%= post.title || __('post.untitled') %></a>
        <% } else { %>
        <%= post.title %>
        <% } %>
      </h1>
      <% } %>

      <%- partial( '_partials/post/meta.ejs') -%>

    </header>

    <div class="post-body">
      <% if (is_index && post.excerpt) { %>
      <%- post.excerpt -%>
      <%- partial( '_partials/post/read-more.ejs') -%>
      <% } else { %>
      <%- post.content -%>
      <% } %>
    </div>

    <%- partial('_partials/post/copyright.ejs') -%>
    <%- partial('_partials/post/tags.ejs') -%>

    <% if (!is_index) { %>
    <%- injector('postBodyEnd').text() -%>
    <% } %>

    <% if (!is_index && (post.prev || post.next)) { %>
    <footer class="post-footer">
      <%- post_nav(post) -%>
    </footer>
    <% } %>
  </div>
</article>
