<%
let post_class = 'post post-type-' + (post.type || 'normal');
%>

<article class="<%= post_class %>" itemscope itemtype="http://schema.org/Article">
  <div class="card post-block">

    <link itemprop="mainEntityOfPage" href="<%= config.url %><%= url_for(post.path) %>" />
    <meta itemprop="dateCreated datePublished" content="<%= moment(post.date).format() %>" />
    <meta itemprop="dateModified" content="<%= moment(post.updated).format() %>" />
    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="<%= author %>" />
      <meta itemprop="description" content="<%= description %>" />
      <meta itemprop="image" content="<%= url_for(theme.avatar.url || 'images/avatar.gif') %>" />
    </span>
    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="<%= title %>" />
    </span>

    <%- partial( '_partials/post/banner.ejs') -%>

    <header class="post-header">

      <% if (post.title) { %>
      <h1 class="post-title" itemprop="name headline">
        <% if (is_index) { %>
        <a href="<%= url_for(post.path) %>"><%= post.title || __('post.untitled') %></a>
        <% } else { %>
        <%= post.title %>
        <% } %>
      </h1>
      <% } %>

      <%- partial( '_partials/post/meta.ejs') -%>

    </header>

    <div class="post-body" itemprop="articleBody">
      <% if (is_index && post.excerpt) { %>
      <%- post.excerpt -%>
      <%- partial( '_partials/post/read-more.ejs') -%>
      <% } else { %>
      <%- post.content -%>
      <% } %>
    </div>

    <% if (!is_index) { %>
    <%- injector('postBodyEnd').text() -%>
    <% } %>

    <% if (!is_index && (post.prev || post.next)) { %>
    <footer class="post-footer">
      <%- post_nav(post) -%>
    </footer>
    <% } %>
  </div>
</article>
