<%
let sidebar_toc = [];
if (page.toc.enable && (is_post() || is_page())) {
  sidebar_toc = toc(page.content, {'class': 'nav', 'list_number': page.toc.number, 'max_depth': page.toc.max_depth});
}
let display_toc = sidebar_toc.length > 1;
%>

<aside class="sidebar">

  <div class="header-inner card">
    <%- partial( '_partials/header/index.ejs', {}, {cache: 'cake-header-' + page.lang}) -%>
  </div>

  <div class="sidebar-inner card">

    <% if (display_toc) { %>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-toc sidebar-nav-active">
        <%= __('sidebar.toc') %>
      </li>
      <li class="sidebar-nav-overview">
        <%= __('sidebar.overview') %>
      </li>
    </ul>
    <div class="post-toc-wrap sidebar-panel sidebar-panel-active">
      <div class="post-toc"><%- sidebar_toc -%></div>
    </div>
    <div class="site-overview-wrap sidebar-panel">
      <%- partial( '_partials/sidebar/site-overview.ejs', {}, {cache: `site-overview-${page.lang}`}) -%>
    </div>

    <% } else { %>

    <div class="site-overview-wrap sidebar-panel sidebar-panel-active">
      <%- partial( '_partials/sidebar/site-overview.ejs', {}, {cache: `site-overview-${page.lang}`}) -%>
    </div>

    <% } %>

  </div>
</aside>
