<div class="site-overview">
  <div class="site-author">
    <% if (theme.avatar.url) { %>
    <img class="site-author-image" src="<%= url_for(theme.avatar.url||'images/avatar.gif') %>"
      alt="<%= author %>" />
    <% } %>
    <p class="site-author-name"><%= author %></p>
    <div class="site-description"><%= description %></div>
  </div>

  <nav class="site-state">
    <% if (config.archive_dir != '/' && site.posts.length > 0) { %>
    <div class="site-state-item site-state-posts">
      <a href="<%= url_for(theme.menu.archives.path) %>">
        <span class="site-state-item-count"><%= site.posts.length %></span>
        <span class="site-state-item-name"><%= __('state.posts') %></span>
      </a>
    </div>
    <% } %>

    <% if (site.categories.length > 0 && theme.menu.categories) { %>
    <div class="site-state-item site-state-categories">
      <a href="<%= url_for(theme.menu.categories.path) %>">
        <span class="site-state-item-count"><%= site.categories.length %></span>
        <span class="site-state-item-name"><%= __('state.categories') %></span>
      </a>
    </div>
    <% } %>

    <% if (site.tags.length > 0 && theme.menu.tags) { %>
    <div class="site-state-item site-state-tags">
      <a href="<%= url_for(theme.menu.tags.path) %>">
        <span class="site-state-item-count"><%= site.tags.length %></span>
        <span class="site-state-item-name"><%= __('state.tags') %></span>
      </a>
    </div>
    <% } %>
  </nav>

  <%- injector('sidebar').text() -%>

</div>
